@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Bold.ttf');
    font-weight: bold;
}

body {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.section {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 6.5rem;
}

h2 {
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

.topTitle {
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.topTitle small {
    font-size: 3rem;
    display: block;
}

.image-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
}

.image-bottom-wrapper {
    height: 60%;
    position: absolute;
    bottom: 0;
}

.overview {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.overview h2 {
    margin-bottom: 0;
    margin-top: 20px;
}

.person {
    width: 25%;
    float: left;
    height: 100%;
}

.person img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.person p {
    position: absolute;
    bottom: 18%;
    width: 12%;
}